# macOS General
.DS_Store
.AppleDouble
.LSOverride

# Obsidian
.obsidian/

# vsCode
.vscode/

# reference
reference/
ref/
ref1.*
ref2.*
ref3.*
ref4.*
ref5.*
ref6.*
ref7.*
ref8.*
ref9.*
ref10.*

# Template
.template/

# Milestone
Milestone.md
