# macOS General
.DS_Store
.AppleDouble
.LSOverride

# Obsidian
.obsidian/

# vsCode
.vscode/

# test
test/
test.*

# etc
.etc/

# note
Notes.md

# reference
reference/
ref/
ref*.*

# Template
.template/

# Milestone
Milestone.md

# Mecro : 폴더, readme 자동생성 메크로
.mecro/
boj_mecro.py
