# Java Class file
*.class

# macOS General
.DS_Store
.AppleDouble
.LSOverride

# Editor, Compiler settings
.obsidian/
.vscode/

# test file/folders
test/
test.*

# other files(template, notes ...)
.template/
.etc/
Notes.md
Milestone.md

# reference
reference/
ref/
ref*.*

# Mecro : 폴더, readme 자동생성 메크로
.mecro/
boj_mecro.py
